$RECYCLE.BIN/
*.log
dist/
.DS_Store
.awcache
.cache/
.env
.idea/
.npm
.storybook
.vs/
.vscode/*
!.vscode/settings.json
Desktop.ini
Thumbs.db
artifact/
bower_components
build
checkstyle.xml
coverage/
dependencies.local.js
integration-report.xml
junit.xml
node_modules/
npm-debug.log*
typings/
v8-compile-cache-0
versions.txt
visual-report.html
yarn-error.log